# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# production
node_modules
dist
dist-ssr
*.local
build

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# dependencies
/.pnp
.pnp.js

# testing
/coverage
/coverage-ts


# misc
*.pem

# env
.env

# local env files
.env*.local

# typescript
*.tsbuildinfo